@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark text-white font-sans antialiased;
}

a {
  @apply text-white no-underline;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #38bdf8 #1f2937;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #38bdf8;
  border-radius: 4px;
}

/* Rainbow Border Animation Slow */
@keyframes slowSpin {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.animate-slowSpin {
  background-size: 300% 300%;
  animation: slowSpin 120s linear infinite;
}

/* Rainbow Fog Effect */
@keyframes fogMove {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  100% {
    transform: translate(-50px, -30px) scale(1.1);
  }
}
